body {
  margin: 0;
  height: 500px;
}

article {
  position: relative;
  border: 10px solid blue;
  width: 50%;
  height: 100%;
  padding: 20px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  border-bottom: 2px solid blue;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  border: 2px solid red;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  position: absolute;
  top:0px;
  right: 20px;

  /* centering orizzonitaly*/
  text-align: center;
  /* centering vertically */
  line-height: 60px;

}

a {
  padding: 4px;
  border: 1px solid blue;
  border-radius: 20px;
  
}

.link-share {
  position: absolute;
  bottom: 0;
  left: 0;
}
